:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 /0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    position: relative;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
}
.amalfi {
    font-family: 'Amalfi Coast', sans-serif;
}
.hidden {
    display: none;
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/herobg.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.hero {
    position: relative;
    min-height: 100vh;
}
.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}
.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
}
.hero h4 {
    font-size: 1.6rem;
}
.hero p {
    font-size: 1.4rem;
}
.hero a {
    /* color: var(--pink);
    background-color: white; */
    box-shadow: var(--shadow);
}
.heroImg{
    position: relative;
    padding: 2px;
}
.heroImg img {
    border-color: burlywood !important;
}
.mynavbar {
    background-color: rgba(225, 225, 225, 0.1) !important;
    backdrop-filter: blur(3px);
}
.mynavbar .offcanvas {
    height: 100vh;
}
.mynavbar .navbar-brand, .mynavbar .offcanvas-title {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
}
.mynavbar .nav-link {
    text-transform: uppercase;
}
.sticky-top {
    overflow: hidden;
}
.home {
    background-image: url(img/herobg.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    position: relative;
}
.home h2, .info h2, .story h2, .gifts h2 {
    color: black;
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    text-shadow: var(--shadow);
    margin-bottom: 1rem;
}
.home h3 {
    color: #0a0a0a;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.home p {
    font-size: 1.1rem;
    color: #0a0a0a;
}
.home .couple {
    margin-top: 50px;
}
.home .couple h3 {
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    font-weight: bold;
    color: #0a0a0a;
}
.home .couple img {
    width: 100%;
    border: 2px solid burlywood;
}
.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(65px);
}
.home .heart i {
    margin: auto;
    color: var(--pink);
}
.info {
    background-image: url(img/herobg.png);
    background-size: cover;
    color: black;
    padding-top: 8rem;
    padding-bottom: 8rem;
    position: relative;
}
.info .alamat {
    font-size: 1.1rem;
}
.info .description {
    font-size: 1rem;
    font-weight: 400;
}
.info .card {
    background-color: rgba(225, 225, 225, 0.1) !important;
    border: 1px solid black;
}
.info .card-header {
    border-bottom: 1px solid black;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bold;
}
.info .card-body {
    font-size: 1rem;
}
.info .card-footer {
    border-top: 1px solid black;
}
.story {
    background-image: url(img/herobg.png);
    background-size: cover;
    min-height: 100vh;
    margin-top: -5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
    position: relative;
}
.story span {
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    display: block;
    letter-spacing: 1px;
}
.story p {
    font-size: 1rem;
    font-weight: 300;
}
.gifts {
    position: relative;
    background-image: url(img/herobg.png);
    background-size: cover;
    margin-top: -5rem;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

/* Media Query */

/* Extra large */
@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(45px);
    }
}
.decor-envelope {
    z-index: 0;
}
#myText1, #myText2 {
    cursor: pointer;
}
#myText1:hover, #myText2:hover {
    color: #999;
}
.rek {
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 1rem;
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }
    .simply-countdown > .simply-section {
        padding: 70px;
    }
    .home .heart {
        display: none;
    }
}
/* tablet */
@media (max-width: 760px) {
    html {
        font-size: 65%;
    }
    .simply-countdown > .simply-section {
        padding: 60px;
        margin: 5px;
    }
    .mynavbar .nav-link {
        font-size: 2rem;
        text-align: center;
    }
}
/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }
    .simply-countdown > .simply-section {
        padding: 30px;
        margin: 3px;
    }
    .decor-envelope img {
        width: 200px;
        height: 100px;
    }
}