<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Undangan Pernikahan Arif Zakaria &amp; Ifnu Sakdiah</title>
  <link rel="icon" href="/image/first-image.jpg" />
  <meta name="title" content="Undangan Pernikahan Arif Zakaria &amp; Ifnu Sakdiah" />
  <meta classname="meta-description" name="description"
    content="Spesial mengundang untuk menghadiri resepsi pernikahan kami. - Arif Zakaria &amp; Ifnu Sakdiah" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Undangan Pernikahan Arif Zakaria &amp; Ifnu Sakdiah" />
  <meta classname="meta-description" property="og:description"
    content="Spesial mengundang untuk menghadiri resepsi pernikahan kami. - Arif Zakaria &amp; Ifnu Sakdiah " />
  <meta property="og:image" content="/image/first-image.jpg" />
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:title" content="Undangan Pernikahan Ifnu &amp; Arif " />
  <meta classname="meta-description" property="twitter:description"
    content="Spesial mengundang untuk menghadiri resepsi pernikahan kami. - Ifnu &amp; Arif " />
  <meta property="twitter:image" content="/image/first-image.jpg" />
  <meta name="author" content="GOINVITE" />
  <link href="https://goinvite.id/css/app.css?v=1.1.8" rel="stylesheet" />
  <link href="https://goinvite.id/css/vendor/e-gallery.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lightgallery.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-zoom.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.3/css/lg-thumbnail.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.4/swiper-bundle.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing%20Script" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cinzel" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Manrope" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora" />
  <link href="https://fonts.cdnfonts.com/css/amalfi-coast" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/josephsophia" rel="stylesheet">
  <link rel="stylesheet" href="css/output.css">
  <script src="/script/script.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
  <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());
    gtag("config", "G-XXXXXX");
  </script>
</head>

<body class="stop-scrolling" data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0"
  style="position: relative">
  <div class="body-single" id="bodysingle">
    <div class="fixed z-50 w-full" id="envelope">
      <div class="relative bg-color pb-32 h-screen z-50" id="openEnvelope">
        <div class="absolute top-0 right-0 z-0 decor-envelope">
          <img src="/image/bunga-kanan-atas.png" width="400" height="200" alt="dekorasi" />
        </div>
        <div class="absolute bottom-0 left-0 z-0 decor-envelope">
          <img src="/image/bunga-kiri-bawah.png" width="400" height="200" alt="dekorasi" />
        </div>
        <div class="z-20 block p-inherit font-color-mode">
          <div class="text-center pt-20">
            <div class="flex justify-center">
              <div class="mt-24 relative div10">
                <img class="object-cover m-auto w-44 h-44 rounded-full border-4 border-color-decor"
                  src="/image/first-image.jpg" width="200" height="200" alt="ifnuarif" />
              </div>
            </div>
            <h3 class="font-one font-color-mode mt-6 mb-3">
              Arif &amp; Ifnu
            </h3>
          </div>
          <div class="text-center pt-8">
            <p class="font-four text-sm">Kepada YTH. Bapak/Ibu/Saudara/i</p>
            <p class="font-four pt-2 text-2xl font-bold">
              <%= typeof namaPenerima !=='undefined' ? namaPenerima.charAt(0).toUpperCase() + namaPenerima.slice(1) : ''
                %>
            </p>
            <p class="font-four text-sm">di Tempat</p>
            <p class="font-four mt-2 text-sm">
              Kami mengundang Anda untuk hadir di acara pernikahan kami.
            </p>
            <button type="button" class="font-three m-auto flex py-3 px-8 rounded-full mt-6 bg-orange-900"
              id="openEnvelope">
              <ion-icon class="text-white w-5 h-5 mr-2 md hydrated" name="mail-open-outline" role="img"
                aria-label="mail open outline"></ion-icon>
              <span class="text-white font-three text-sm">
                Buka Undangan
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="mainCont">
      <div id="musicContainer"
        class="bg-color-one font-color-three fixed z-50 bottom-24 left-2 h-12 w-12 overflow-y-scroll flex justify-center items-center rounded-full">
        <audio id="music" loop="">
          <source src="/image/music-wedding.mp3" type="audio/mp3" />
        </audio>
        <ion-icon class="p-2 pl-3 md hydrated hidden" id="musicPlay" name="play" role="img"
          aria-label="play"></ion-icon>
        <ion-icon id="musicPause" class="p-2 pl-3 md hydrated" name="pause" role="img" aria-label="pause"></ion-icon>
      </div>
      <div name="coverContainer" class="h-screen">
        <div id="pageCover">
          <div class="relative bg-color pb-32">
            <div class="absolute top-0 right-0">
              <img src="/image/bunga-kanan-atas.png" width="400" height="200" alt="dekorasi" />
            </div>
            <div class="absolute bottom-0 left-0 z-0">
              <img src="/image/bunga-kiri-bawah.png" width="400" height="200" alt="dekorasi" />
            </div>
            <div class="text-center md:pt-36 pt-20 pb-12 p-inherit z-index:2">
              <p class="font-four text-md font-color-mode absolute w-full mb-10 z-20">
                THE WEDDING OF
              </p>
              <div class="mt-12">
                <div class="flex justify-center">
                  <div class="p-2 relative">
                    <img class="absolute -top-8 -left-8 w-32" src="/image/frame-1.png" width="100" height="100"
                      alt="dekorasi" />
                    <img class="object-cover m-auto w-44 h-44 rounded-full border-4 border-orange-900"
                      src="/image/first-image.jpg" width="200" height="200" alt="Arif dan Ifnu" />
                  </div>
                </div>
              </div>
              <h3 class="font-one text-inherit mt-6 mb-3">
                Arif Zakaria<br />&amp;<br />Ifnu Sakdiah
              </h3>
              <p class="font-four text-md font-color-mode mb-8">
                Sabtu, 02 September 2023
              </p>
              <a href="https://www.google.com/calendar/event?action=TEMPLATE&amp;text=Syukuran+Ifnu+%26+Arif+&amp;details=Syukuran&amp;location=jl.+Flobamora%2C+kampung+tua+tanjung+buntung+blok+E+no+15%2F16&amp;dates=20230902T120000/20230902T220000&amp;ctz=Asia%2FJakarta"
                target="_blank"
                class="font-three text-xs px-6 py-2 rounded-full border text-orange-900 border-orange-900 relative z-10">
                Buat pengingat
              </a>
            </div>
            <div class="z-10 block p-inherit">
              <div class="container mx-auto px-16 font-four-color z-10">
                <div class="grid grid-cols-4 gap-2 font-three">
                  <div class="text-center py-2 col-span-1 bg-orange-900 text-white rounded-md">
                    <p class="font-bold text-sm m-0" id="countdownDay">00</p>
                    <p class="text-xs">Hari</p>
                  </div>
                  <div class="text-center py-2 col-span-1 bg-orange-900 text-white rounded-md">
                    <p class="font-bold text-sm m-0" id="countdownHour">00</p>
                    <p class="text-xs">Jam</p>
                  </div>
                  <div class="text-center py-2 col-span-1 bg-orange-900 text-white rounded-md">
                    <p class="font-bold text-sm m-0" id="countdownMinute">
                      00
                    </p>
                    <p class="text-xs">Menit</p>
                  </div>
                  <div class="text-center py-2 col-span-1 bg-orange-900 text-white rounded-md">
                    <p class="font-bold text-sm m-0" id="countdownSecond">
                      00
                    </p>
                    <p class="text-xs">Detik</p>
                  </div>
                </div>
              </div>
            </div>
            <svg data-src="https://api.paleo.id/yesour/imgs/template-7/top.svg" width="100%" fill="#7c2d12"
              class="absolute bottom-0" id="Layer_1_2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1024 77.77" data-id="svg-loader_1">
              <path d="M0,27.13V77.77H1024V27.13S916.62,77.77,512,77.77,0,27.13,0,27.13Z"></path>
              <g opacity="0.5">
                <path d="M0,13S172.27,77.77,512,77.77C162.61,77.77,0,0,0,0Z"></path>
                <path d="M512,77.77C851.73,77.77,1024,13,1024,13V0S861.39,77.77,512,77.77Z"></path>
              </g>
              <g opacity="0.5">
                <path d="M0,27.13S107.38,77.77,512,77.77C172.27,77.77,0,13,0,13Z"></path>
                <path d="M512,77.77c404.62,0,512-50.64,512-50.64V13S851.73,77.77,512,77.77Z"></path>
              </g>
              <g opacity="0.5">
                <path d="M0,27.13S107.38,77.77,512,77.77C172.27,77.77,0,13,0,13Z"></path>
                <path d="M512,77.77c404.62,0,512-50.64,512-50.64V13S851.73,77.77,512,77.77Z"></path>
              </g>
            </svg>
          </div>
        </div>
        <div id="pageProfile">
          <div class="relative bg-orange-900">
            <div class="relative">
              <div class="bg-orange-900">
                <div class="container mx-auto px-6 py-24 text-white">
                  <div class="flex justify-center">
                    <img class="aos-init aos-animate" data-aos="fade-up" data-aos-duration="800"
                      src="/image/bismillah.png" width="250" height="69" alt="bismillah" />
                  </div>
                  <p class="text-center text-sm font-color-three font-four whitespace-pre-line mb-10 aos-init aos-animate"
                    data-aos="fade-up" data-aos-duration="800">
                    <span class="font-five">Assalamualaikum Wr. Wb.</span>
                    <br />
                    Dengan memohon Rahmat dan Ridho Allah SWT, Kami bermaksud mengundang Bapak/Ibu/Saudara/i untuk hadir dalam pernikahan putra/putri kami:
                  </p>
                  <div>
                    <div class="flex justify-center">
                      <div class="p-2 relative aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img class="absolute -top-8 -left-8 w-32" src="/image/frame-1.png" width="100" height="100"
                          alt="decorasi" />
                        <img class="object-cover m-auto w-44 h-44 rounded-full border-4 border-color-decor"
                          src="/image/arif.jpeg" width="200" height="200" alt="Arif Zakaria" />
                      </div>
                    </div>
                    <div class="text-center py-8">
                      <p class="font-one font-color-profile aos-init aos-animate" data-aos="fade-up"
                        data-aos-duration="800">
                        Arif Zakaria
                      </p>
                      <p class="font-light font-four text-sm mt-3 aos-init aos-animate" data-aos="fade-up"
                        data-aos-duration="800">
                        Putra dari Bapak Dwi Supriyono &amp; Ibu Kom Saadah
                      </p>
                  </div>
                  <p class="font-six italic text-4xl text-center py-8 font-color-three aos-init aos-animate"
                    data-aos="fade-up" data-aos-duration="800">
                    &amp;
                  </p>
                  <div>
                    <div class="flex justify-center">
                      <div class="p-2 relative aos-init aos-animate" data-aos="fade-right" data-aos-duration="800">
                        <img class="absolute -top-8 -left-8 w-32" src="/image/frame-1.png" width="100" height="100"
                          alt="dekorasi" />
                        <img class="object-cover m-auto w-44 h-44 rounded-full border-4 border-color-decor"
                          src="/image/ifnu.jpeg" width="200" height="200" alt="Ifnu Sakdiah" />
                      </div>
                    </div>
                    <div class="text-center py-6 pb-0">
                      <p class="font-one font-color-profile aos-init aos-animate" data-aos="fade-up"
                        data-aos-duration="800">
                        Ifnu Sakdiah
                      </p>
                      <p class="font-light font-four text-sm mt-3 aos-init aos-animate" data-aos="fade-up"
                        data-aos-duration="800">
                        Putri dari Bapak Maryono &amp; Ibu Suwarni Bin Makruf
                      </p>
                      <div class="flex justify-center mt-6 aos-init aos-animate" data-aos="fade-up"
                        data-aos-duration="800"></div>
                    </div>
                  </div>
                  <div class="pt-16">
                    <div class="bg-color-three p-2 aos-init aos-animate" data-aos="fade-down" data-aos-duration="800">
                      <div class="py-4 px-6 border-2 border-color-two">
                        <p class="text-center font-four italic font-color-two text-sm mb-4">
                          "Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia
                          menciptakan pasangan-pasangan untukmu dari jenismu
                          sendiri, agar kamu cenderung dan merasa tenteram
                          kepadanya, dan Dia menjadikan di antaramu rasa kasih
                          dan sayang. Sungguh, pada yang demikian itu
                          benar-benar terdapat tanda-tanda (kebesaran Allah)
                          bagi kaum yang berpikir."
                        </p>
                        <p class="text-center font-four italic font-color-two text-sm">
                          (QS Ar-Rum:21)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="pageEvent">
          <div class="relative bg-white">
            <div class="absolute top-0 right-0">
              <img src="/image/bunga-kanan-atas.png" width="400" height="200" alt="dekorasi" />
            </div>
            <div class="absolute bottom-0 left-0">
              <img src="/image/bunga-kiri-bawah.png" width="400" height="200" alt="dekordasi" />
            </div>
            <svg data-src="https://api.paleo.id/yesour/imgs/template-7/bottom.svg" width="100%" fill="#7c2d12"
              class="absolute top-0" id="Layer_1_4" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1024 77.77" data-id="svg-loader_3">
              <path d="M1024,249.11V198.47H0v50.64s107.38-50.64,512-50.64S1024,249.11,1024,249.11Z"
                transform="translate(0 -198.47)"></path>
              <g opacity="0.5">
                <path d="M1024,263.24s-172.27-64.77-512-64.77c349.39,0,512,77.77,512,77.77Z"
                  transform="translate(0 -198.47)"></path>
                <path d="M512,198.47c-339.73,0-512,64.77-512,64.77v13S162.61,198.47,512,198.47Z"
                  transform="translate(0 -198.47)"></path>
              </g>
              <g opacity="0.5">
                <path d="M1024,249.11s-107.38-50.64-512-50.64c339.73,0,512,64.77,512,64.77Z"
                  transform="translate(0 -198.47)"></path>
                <path d="M512,198.47c-404.62,0-512,50.64-512,50.64v14.13S172.27,198.47,512,198.47Z"
                  transform="translate(0 -198.47)"></path>
              </g>
              <g opacity="0.5">
                <path d="M1024,249.11s-107.38-50.64-512-50.64c339.73,0,512,64.77,512,64.77Z"
                  transform="translate(0 -198.47)"></path>
                <path d="M512,198.47c-404.62,0-512,50.64-512,50.64v14.13S172.27,198.47,512,198.47Z"
                  transform="translate(0 -198.47)"></path>
              </g>
            </svg>
            <svg data-src="https://api.paleo.id/yesour/imgs/template-7/top.svg" width="100%" fill="#7c2d12"
              class="absolute bottom-0" id="Layer_1_6" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 1024 77.77" data-id="svg-loader_5">
              <path d="M0,27.13V77.77H1024V27.13S916.62,77.77,512,77.77,0,27.13,0,27.13Z"></path>
              <g opacity="0.5">
                <path d="M0,13S172.27,77.77,512,77.77C162.61,77.77,0,0,0,0Z"></path>
                <path d="M512,77.77C851.73,77.77,1024,13,1024,13V0S861.39,77.77,512,77.77Z"></path>
              </g>
              <g opacity="0.5">
                <path d="M0,27.13S107.38,77.77,512,77.77C172.27,77.77,0,13,0,13Z"></path>
                <path d="M512,77.77c404.62,0,512-50.64,512-50.64V13S851.73,77.77,512,77.77Z"></path>
              </g>
              <g opacity="0.5">
                <path d="M0,27.13S107.38,77.77,512,77.77C172.27,77.77,0,13,0,13Z"></path>
                <path d="M512,77.77c404.62,0,512-50.64,512-50.64V13S851.73,77.77,512,77.77Z"></path>
              </g>
            </svg>
            <div class="md:px-24 px-6 pt-32 pb-48 p-inherit z-10">
              <p class="text-center font-color-mode text-sm font-four mb-8 aos-init aos-animate" data-aos="fade-up"
                data-aos-duration="800">
                Kami sangat berharap Bapak/Ibu/Saudara/i dapat hadir di acara
                yang spesial ini:
              </p>
              <div>
                <div class="py-2 text-center border border-orange-900 rounded-md relative aos-init" data-aos="fade-up"
                  data-aos-duration="800">
                  <div class="absolute z-0 top-0 left-0">
                    <img class="w-10" src="/image/bunga-kiri.png" width="50" height="100" alt="dekorasi" />
                  </div>
                  <div class="absolute z-0 bottom-0 right-0">
                    <img class="w-10" src="/image/bunga-kanan.png" width="50" height="100" alt="dekorasi" />
                  </div>
                  <div class="p-4 p-inherit z-10 font-color-mode">
                    <h4 class="font-one text-4xl pb-4 aos-init" data-aos="fade-up" data-aos-duration="800">
                      Akad Nikah
                    </h4>
                    <p class="font-four text-sm font-bold aos-init" data-aos="fade-up" data-aos-duration="800">
                      Sabtu, 02 September 2023
                    </p>
                    <p class="font-four text-sm aos-init" data-aos="fade-up" data-aos-duration="800">
                      08.00 - Selesai
                    </p>
                    <p class="font-four text-sm italic aos-init" data-aos="fade-up" data-aos-duration="800">
                      KUA lubuk baja
                    </p>
                  </div>
                </div>
                <a target="_blank" data-aos="fade-up" data-aos-duration="800"
                  href="https://www.google.com/maps/search/?api=1&amp;query=KUA%20Lubuk%20Baja,%20Baloi%20Indah,%20Kota Batam,%20Kepulauan Riau"
                  class="font-three m-auto flex py-2 px-8 rounded mt-4 mb-8 w-fit bg-color-one font-color-three aos-init">
                  <ion-icon class="w-6 h-6 mr-2 md hydrated" name="location-outline" role="img"
                    aria-label="location outline"></ion-icon>
                  <span>Lihat Lokasi</span>
                </a>
              </div>
              <div>
                <div class="mt-4 py-2 text-center border border-orange-900 rounded-md relative aos-init"
                  data-aos="fade-up" data-aos-duration="800">
                  <div class="absolute z-0 top-0 left-0">
                    <img class="w-10" src="/image/bunga-kiri.png" width="50" height="100" alt="dekorasi" />
                  </div>
                  <div class="absolute z-0 bottom-0 right-0">
                    <img class="w-10" src="/image/bunga-kanan.png" width="50" height="100" alt="dekorasi" />
                  </div>
                  <div class="p-4 p-inherit z-10 font-color-mode">
                    <h4 class="font-one text-4xl pb-4 aos-init" data-aos="fade-up" data-aos-duration="800">
                      Syukuran
                    </h4>
                    <p class="font-four text-sm font-bold aos-init" data-aos="fade-up" data-aos-duration="800">
                      Sabtu, 02 September 2023
                    </p>
                    <p class="font-four text-sm aos-init" data-aos="fade-up" data-aos-duration="800">
                      12.00 - 22.00
                    </p>
                    <p class="font-four text-sm italic aos-init" data-aos="fade-up" data-aos-duration="800">
                      jl. Flobamora, kampung tua tanjung buntung blok E no
                      15/16
                    </p>
                  </div>
                </div>
                <a target="_blank" data-aos="fade-up" data-aos-duration="800"
                  href="https://www.google.com/maps/search/?api=1&amp;query=1°10'30.3,%20104°01'44.1"
                  class="font-three m-auto flex py-2 px-8 rounded mt-4 mb-8 w-fit bg-color-one font-color-three aos-init">
                  <ion-icon class="w-6 h-6 mr-2 md hydrated" name="location-outline" role="img"
                    aria-label="location outline"></ion-icon>
                  <span>Lihat Lokasi</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div id="pageGalery">
          <div class="relative bg-orange-900">
            <div class="relative">
              <div class="bg-orange-900">
                <div class="container mx-auto px-6 py-24 text-white">
                  <p class="font-one font-color-profile text-center aos-init aos-animate text-3xl" data-aos="fade-up"
                    data-aos-duration="800">
                    Amplop Digital
                  </p>
                  <p class="text-center text-sm font-color-three font-four whitespace-pre-line aos-init aos-animate"
                    data-aos="fade-up" data-aos-duration="800">
                    Doa Restu Anda merupakan karunia yang
                    sangat berarti bagi kami.<br />
                    Dan jika memberi adalah ungkapan tanda kasih,
                    Anda dapat memberi kado secara cashless.
                  </p>
                  <div class="pt-16 mb-10">
                    <div class="bg-color-three p-2 aos-init aos-animate" data-aos="fade-down" data-aos-duration="800">
                      <div class="py-4 px-6 border-2 border-color-two">
                        <p class="text-center font-four font-color-two text-sm">
                          BCA a/n Ifnu Sakdiah
                        </p>
                        <p class="text-center font-four font-color-two text-sm" onclick="copy1()">
                          <strong id="myText1">8335379329</strong>
                        </p>
                        <p class="text-center font-four font-color-two text-sm mt-2">
                          BCA a/n Arif Zakaria
                        </p>
                        <p class="text-center font-four font-color-two text-sm" onclick="copy2()">
                          <strong id="myText2">8335417905</strong>
                        </p>
                        <p class="text-center font-four font-color-two text-xs mt-2">
                          <i>*klik no rekening untuk menyalin</i>
                        </p>
                      </div>
                      <script>
                        let text1 = document.getElementById('myText1').innerHTML;
                        let text2 = document.getElementById('myText2').innerHTML;

                        const copy1 = async () => {
                          try {
                            await navigator.clipboard.writeText(text1);
                            alert('No rek. Ifnu Sakdiah sudah tersalin');
                          } catch (err) {
                            console.error('Failed to copy: ', err);
                          }
                        }
                        const copy2 = async () => {
                          try {
                            await navigator.clipboard.writeText(text2);
                            alert('No rek. Arif Zakaria sudah tersalin');
                          } catch (err) {
                            console.log('Failed to copy:', err);
                          }
                        }
                      </script>
                    </div>
                  </div>
                  <p class="text-center text-sm font-color-three font-four whitespace-pre-line aos-init aos-animate"
                    data-aos="fade-up" data-aos-duration="800">
                    Atas kehadiran dan do’a restu dari Bapak/Ibu/Saudara/I sekalian, kami mengucapkan Terima Kasih.<br/>
                    <span class="font-five">Wassalamualaikum Wr. Wb.</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>

</html>